@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
  
    <h2>About us</h2>
    <br>
    <p>Wingineers is an engineering company based in Copenhagen, Denmark. 
       The company specializes in developing and selling measurement 
       equipment for use in laboratories around the world. Wingineers 
       is dedicated to creating innovative and accurate products that 
       help scientists and researchers in their work. The company has a 
       team of highly skilled engineers and technicians who are committed 
       to delivering the best solutions to their customers. Whether you 
       are a research scientist, engineer, or technician, Wingineers has 
       the tools and expertise to support your work.</p>
    <br>

    <h3>Wingineers</h3>
     "Accuracy you can count on"
    <br>
</div>
